<div class="row">
    <div class="col-md-3">


        <!--Card-->
        <mdb-card cascade="true" narrower="true">

            <!--Card image-->
            <!-- <div class="view overlay hm-white-slight waves-light" mdbWavesEffect>
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg"
                     class="img-fluid">
                <a>
                    <div class="mask"></div>
                </a>
            </div> -->
            <!--/Card image-->

            <!--Card content-->
            <mdb-card-body class="text-left">
                <!--Title-->
                <h6 class="card-title font-bold mb-2">First Name: <strong>{{user?.firstName}}</strong></h6>
                <h6 class="card-title font-bold mb-2">Last Name: <strong>{{user?.lastName}}</strong></h6>
                <h6 class="card-title font-bold mb-2">Role: <strong>{{user?.role}}</strong></h6>
                <h6 class="card-title font-bold mb-2">Email: <strong>{{user?.email}}</strong></h6>
                <h6 class="card-title font-bold mb-2">Email: <strong>{{user?.phone}}</strong></h6>
                        

                <h6 class='text-justify'><strong>About role he assigned to:</strong></h6>
                <p class='text-justify'>{{user.roleDescr}}</p>

                <div class="text-right">
                    <button type="button" routerLink="../../mycart/cart1" mdbBtn outline="true" color="primary" rounded="true" size="sm" mdbWavesEffect>
                        Back to Cart
                    </button>
                </div>

            </mdb-card-body>
            <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->

    </div>

   


</div>
